/* @import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Mr+Dafoe&family=Unbounded&display=swap");

body {
  font-family: "Chivo Mono", monospace;
}
h1,
h2 {
  font-family: "Mr Dafoe", cursive;
   font-family: "Unbounded", cursive; 
} */
 
body
{
    font-family: sans-serif;
}